<form class="form">
  <input type="text" placeholder="投稿を検索する" class="form__text" />
  <input type="submit" value="検索" class="form__btn" />
</form>

<div class="contents">
  <% @quotes.each do |quote| %>
    <div class="contents__quote">
      <div class="contents__quote__text">
        <%= simple_format(quote.text) %>
      </div>
      <p class="contents__quote__name">eiji</p>
      <ul>
        <li class="contents__quote__title">
          <%= quote.title %>
        </li>
        <li class="contents__quote__character">
          <%= quote.name %>
        </li>
      </ul>
    </div>
  <% end %>
</div>