.notification {
  .notice {
    color: black;
    z-index: 4;
    margin-left: 1.5rem;
    padding-top: 1.5rem;
  }
  .alert {
    color: black;
    z-index: 4;
    margin-left: 1.5rem;
    padding-top: 1.5rem;
  }
}